#splashpicture {
    background-color:#145418;
    position:absolute;
    height:98%;
    width:99%;
    z-index:-1;
}

#circle {
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:white;
    font-size:200%;
}

.normalTabs {
    width:100%;
    height:10%;
    top:85%;
    position:absolute;
}

.scrolledTabs {
    position: fixed;
    background-color:#145418;
    color:white;
    top: 0;
    z-index:1000;
    width:100%;
}
#tabs > ul {
    list-style-type:none;
    padding:0;
}

#tabs > ul > li { 
    width:24%;
    display:inline-flex;
    text-align:center;
}

.tab {
    float:left;
    color:white;
    cursor:pointer;
    font-size:120%;
    margin:0 auto;
}

#content {
    position:absolute;
    top:100%;
    padding:5%;
    height:70%;
    width:90%;
}

.content {
    display:none;
}

.focusContent {
    display:inline-block
}

@font-face {
    font-family:'dreamland';
    src: URL('dreamland.ttf') format('truetype');
}

@font-face {
    font-family:'yaquote';
    src: URL('yaquote.ttf') format('truetype');
}

body {
    margin:0;
    padding:0;
}

#important {
    font-size:6vh;
    text-align:center;
    position:absolute;
    top:1vh;
    bottom:1vh;
    left:1vh;
    right:1vh;
    z-index:-1;
    color:white;
    display:inline-flex;
    justify-content:center;
    align-items:center;
    font-family:'dreamland';
   /* background-color:#214D27;
    new-background:#214827 */
    background-image:linear-gradient(to bottom, #214D27, #214827);
}

.focused {
    border-bottom:2px solid white;
    padding-bottom:2px;
}


#homeContent {
    text-align:center;
    width:100%;
}

#rsvpContent {
    text-align:center;
    width:100%;
}
